pre-commit==4.0.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-dependency==0.6.0
numpy==2.2.1
pillow==11.1.0
pygame==2.6.1
pettingzoo==1.24.3
gymnasium==1.0.0
supersuit==3.9.3
stable-baselines3==2.5.0
sb3-contrib==2.5.0
tensorboard==2.18.0
moviepy==1.0.3
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1+cu124
